/* 
    1. Posicionamiento.
    2. Modelo de caja.
    3. Tipografía.
    4. Visual.
    5. Otros.
*/

:root {
    /* Colores */
    --bitcoin-color: #f7931a;
    --soft-orange: #ffe9d4;
    --off-white: #faf8f7;
    --warm-black: #201e1c;
    --warm-black-1: #282623;
    --grey-text: #757575;
    --soft-grey-text: #b5b0ac;

    /* Tamaño de fuente */
    --font-size-large: 2.4rem;
    --font-size-medium: 1.8rem;
    --font-size-small: 1.4rem;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

/* Maqueta header */

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 295px;
    text-align: center;
    background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

header img {
    width: 129px;
    height: 24px;
    margin-top: 39px;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 17px;
    align-self: center;
}

.header--title-container h1 {
    font-size: var(--font-size-large);
    font-weight: bold;
    line-height: 2.6rem;
    color: #ffffff;
}

.header--title-container p {
    margin-top: 24px;
    font-size: var(--font-size-small);
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 114.5px);
    top: 266px;
    display: block;
    padding: 15px;
    width: 229px;
    height: 49px;
    background-color: var(--off-white);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    font-size: var(--font-size-small);
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);
}

.header--title-container .header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 14px;
    background-image: url(./assets/icons/down-arrow.svg);
}

/* Maqueta main */

main {
    min-width: 320px;
    width: 100%;
    height: fit-content;
}

.main--exchange-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 730px;
    background-color: var(--off-white);
}

.main--exchange-container .bitcoinImg {
    width: 195px;
    height: 195px;
    background-image: url(./assets/imgs/Bitcoin.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.main--exchange-container .infoText {
    text-align: center;
}

.main--exchange-container .infoText h2 {
    font-size: var(--font-size-large);
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.main--exchange-container .infoText p {
    font-size: var(--font-size-small);
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--grey-text);
}
