/* 
    1. Posicionamiento.
    2. Modelo de caja.
    3. Tipografía.
    4. Visual.
    5. Otros.
*/

:root {
    /* Colores */
    --bitcoin-color: #f7931a;
    --soft-orange: #FFE9D4;
    --warm-black: #201E1C;
    --warm-black-1: #282623;
    --grey-text: #757575;
    --soft-grey-text: #B5B0AC;

    /* Tamaño de fuente */
    --font-size-big: 24px;
    --font-size-medium: 18px;
    --font-size-small: 14px;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}